#circle {
    position: absolute;
    top: 300px;
    border: 8px solid black;
    border-radius: 50%;
    height: 300px;
    width: 300px;
    background-color: red;
    animation: move 3s linear 0s infinite;
    animation-direction: alternate-reverse;
}


.click:checked~#circle {
    animation: move 3s linear 0s infinite, jump 1s ease 0s infinite;
    animation-direction: alternate-reverse;
}

.click~#circle {
    animation: move 3s linear 0s infinite;
    animation-direction: alternate-reverse;
}



#eye-1 {
    position: relative;
    margin: 60px 0px 0px 150px;
    width: 60px;
    height: 90px;
    border: 3px solid black;
    border-radius: 50%;
    background-color: white;
}

#eye-1::before, #eye-2::before {
    content: "";
    border: 15px solid black;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    height: 20px;
    background-color: black;
}


#eye-2 {
    position: relative;
    margin: -90px 0px 0px 30px;
    width: 60px;
    height: 90px;
    border: 3px solid black;
    border-radius: 50%;
    background-color: white;

}


#mouth {
    width: 60px;
    height: 30px;
    border: 3px solid black;
    border-radius: 5px 5px 50px 50px;
    margin-top: 39px;
    margin-left: 90px;
    background-color: white;
}

@keyframes move {
    0% {
        margin-left: 0vw;
        transform: rotate(0deg);
    }

    100% {
        margin-left: calc(100vw - 340px);
        transform: rotate(360deg);
    }
}

@keyframes jump {
    0% {
        top: 0px;
    }

    100% {
        top: 300px;
    }
}

/*     animation: jump 0.5s ease 0s infinite;
    animation-direction: alternate-reverse;  
 */