/* body
{
    background-color: hsl(var(--hue,0),100%,50%);
    animation: rainbow 4s linear 0s infinite, hudy 3s ease 0s infinite;
    animation-direction: alternate;
} */


/* creating bobby: */
#circle {
    margin-top: 40vh;
    border: 8px solid black;
    border-radius: 50%;
    height: 300px;
    width: 300px;
    background-color: red;
    animation: move 3s linear 0s infinite;
    animation-direction: alternate-reverse;
}

#eye-1 {
    position: relative;
    margin: 60px 0px 0px 150px;
    width: 60px;
    height: 90px;
    border: 3px solid black;
    border-radius: 50%;
    background-color: white;
}

#eye-2 {
    position: relative;
    margin: -90px 0px 0px 30px;
    width: 60px;
    height: 90px;
    border: 3px solid black;
    border-radius: 50%;
    background-color: white;

}

#eye-1::before, #eye-2::before {
    content: "";
    border: 15px solid black;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    height: 20px;
    background-color: black;
}

#mouth {
    width: 60px;
    height: 30px;
    border: 3px solid black;
    border-radius: 5px 5px 50px 50px;
    margin-top: 39px;
    margin-left: 90px;
    background-color: white;
}



/* change the speed */
#SP7:checked~#circle {
    animation: move 7s linear 0s infinite;
    animation-direction: alternate-reverse;
}

#SP6:checked~#circle {
    animation: move 6s linear 0s infinite;
    animation-direction: alternate-reverse;
}

#SP5:checked~#circle {
    animation: move 5s linear 0s infinite;
    animation-direction: alternate-reverse;
}

#SP4:checked~#circle {
    animation: move 4s linear 0s infinite;
    animation-direction: alternate-reverse;
}

#SP3:checked~#circle {
    animation: move 3s linear 0s infinite;
    animation-direction: alternate-reverse;
}

#SP2:checked~#circle {
    animation: move 2s linear 0s infinite;
    animation-direction: alternate-reverse;
}

#SP1:checked~#circle {
    animation: move 1s linear 0s infinite;
    animation-direction: alternate-reverse;
}


/* jumping animation*/
#click:checked~#circle {
    animation: move 3s linear 0s infinite, jump 1s ease 0s infinite;
    animation-direction: alternate-reverse;
}


/* tooltip */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 100px;
    height: fit-content;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 25px;
    left: -40px;
    opacity: 0;
    transition: opacity 0.4s;
}

.tooltip .tooltiptext::after {
    transform: rotate(180deg);
    content: "";
    position: absolute;
    top: -10px;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}



/* animations */

@keyframes move {
    0% {
        margin-left: 0vw;
        transform: rotate(0deg);
    }

    100% {
        margin-left: calc(100vw - 340px);
        transform: rotate(360deg);
    }
}

@keyframes jump {
    0% {
        margin-top: 0px;
    }

    100% {
        margin-top: 285px;
    }
}

/* @keyframes rainbow
{
    0%{background-color: hsl(0, 100%, 50%);}
    15%{background-color: hsl(39, 100%, 50%);}
    30%{background-color: hsl(60, 100%, 50%);}
    45%{background-color: hsl(118, 92%, 36%);}
    60%{background-color: hsl(199, 85%, 42%);}
    75%{background-color: hsl(261, 96%, 37%);}
    90%{background-color: hsl(281, 93%, 34%);}
    100%{background-color: hsl(360, 100%, 50%);}
} */

/* @keyframes hudy {
    0% {
        --hue: 0;
    }

    100% {
        --hue: 360;
    }
} */